<div class="ui-g public-page">
  <div class="back-overlay"></div>
  <div class="login-page center-block">
    <div class="public-page-logo">
      <img alt="logo" src="../../../../../assets/images/giz_icon.png" />
      <span>Կարմիր Գիրք</span>
    </div>
    <p-card>
      <p-messages class="marginbot20" [value]="msgs"></p-messages>
      <h1 class="page_title">Փոխել գաղտնաբառը</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

        <div class="ui-inputgroup" [ngClass]="{'has-error': (form.get('password').invalid && submitted)}">
          <label for="password">Գաղտնաբառ</label>
          <input formControlName="password" type="password" id="password" pInputText />

          <div *ngIf="form.get('password').errors && submitted" class="form-error invalid-feedback">
            <div [hidden]="!form.get('password').errors['required']">Պարտադիր դաշտ</div>
            <div [hidden]="!form.get('password').errors['passwordValid'] && !form.get('password').errors['minLength'] && !form.get('password').errors['maxLength']"
              class="error-msg-txt">Գաղտնաբառը պետք կազմված լինի 6-20 նիշից և պարունակի առնվազն մեկ տառ և մեկ թիվ</div>
          </div>
        </div>

        <div class="ui-inputgroup" [ngClass]="{'has-error': (form.get('confirmPassword').invalid && submitted)}">
          <label for="confirm-password">Կրկնել գաղտնաբառը</label>
          <input formControlName="confirmPassword" type="password" id="confirm-password" pInputText />

          <div *ngIf="form.get('confirmPassword').errors && submitted" class="form-error invalid-feedback">
            <div [hidden]="!form.get('confirmPassword').errors['required']">
              Պարտադիր դաշտ
            </div>
            <div [hidden]="!form.get('confirmPassword').errors['passwordValid'] && !form.get('confirmPassword').errors['minLength'] && !form.get('confirmPassword').errors['maxLength']">
              Գաղտնաբառը պետք կազմված լինի 6-20 նիշից և պարունակի առնվազն մեկ տառ և մեկ թիվ
            </div>
          </div>
        </div>
        <div class="form-error invalid-feedback"
          *ngIf="form.errors?.passwordsEqual && form.get('password').valid && form.get('confirmPassword').valid && submitted">
          <div class="error-msg-txt">Գաղտնաբառերը չեն համընկնում</div>
        </div>
        <div class="button-container">
          <button [disabled]="submitLoader" [ngClass]="{'has-loading': submitLoader}" pButton type="submit"
            class="btn btn-auth inline-button" label="Պահպանել"><i class="fa fa-spinner fa-spin"
              *ngIf="submitLoader"></i></button>
        </div>

      </form>
    </p-card>
  </div>
</div>