
.ui-table .ui-paginator-bottom {
  bottom: 0 !important;
}
.user-profile{
  .btn-edit{
    white-space: nowrap;
  }
  .info {
    margin-top: 10px;
  }
}

.ui-dialog .flex-container .ui-inputgroup:first-child{
  margin-right: 10px !important;
}

