#map {
    height: 370px;
}
.delete-point{
  border-radius: 2px !important;
  height: 40px !important;
  width: 40px !important;
  background: #fff !important;
  top:110px !important;
  right: 10px !important;
}

::ng-deep .ico.ico-delete{
  background-image: url("~src/assets/images/svg/delete.svg") !important;
  width: 21px !important;
  height: 25px !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
  color: #666666 !important;
}
