@import '~src/assets/styles/variables';

.return-login{
  text-align: center;
  margin-top: 15px;
}
.forgot_text{
 font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
  color: #64717b;
}

.back-overlay{
  position: absolute;
  background-color: rgba(0,0 ,0, 0.35 );
  width: 100%;
  height: 100%;
}

.return-login{
  text-align: right;
  :before{
    background: url("~src/assets/images/svg/back_arrow.svg") no-repeat;
    width: 6px;
    height: 9px;
    content: '';
    display: inline-block;
    margin-right: 3px;
  }
  a{
    color: $blue-color;
    &:hover{
      color: $blue-color;
    }
  }
}
::ng-deep .ui-button{
  margin-top: 10px !important;
}
::ng-deep .ui-card-body{
  padding: 35px 30px 45px 30px !important;
}

