<div class="ui-g public-page">
  <div class="back-overlay"></div>
  <div class="login-page center-block">
    <div class="public-page-logo">
      <img alt="logo" src="../../../../../assets/images/giz_icon.png" />
      <span>Կարմիր Գիրք</span>
    </div>
    <p-card>
      <p-messages [value]="msgs"></p-messages>
      <h1 class="page_title">Մոռացել եք գաղտնաբառը</h1>
      <p class="forgot_text">
        Դուք կստանաք էլ․ նամակ գաղտնաբառր վերականգնելու հրահանգներով։
      </p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
        <div class="ui-inputgroup" [ngClass]="{'has-error': (form.get('email').invalid && submitted)}">
          <label for="email">էլ․ հասցե</label>
          <input formControlName="email" type="text" id="email" pInputText />

          <div *ngIf="form.get('email').errors && submitted"
            class="form-error invalid-feedback">
            <div [hidden]="!form.get('email').errors['required']">Պարտադիր դաշտ</div>
            <div [hidden]="!form.get('email').errors['maxLength']">Էլ․ հասցեն չի կարող գերազանցել 255 նիշը</div>
            <div *ngIf="!form.controls['email'].errors['maxLength']">
              <div [hidden]="!form.get('email').errors['validateEmail']">Ոչ վավեր էլ․ հասցե</div>
            </div>
          </div>
        </div>

        <div class="button-container">
          <button [disabled]="submitLoader" [ngClass]="{'has-loading': submitLoader}" pButton type="submit"
            class="btn btn-auth inline-button" label="Ուղարկել"><i class="fa fa-spinner fa-spin"
              *ngIf="submitLoader"></i></button>
        </div>
      </form>
      <div class="return-login">
        <a [routerLink]="['/login']">Վերադառնալ Մուտքի էջ</a>
      </div>
    </p-card>
  </div>
</div>
