


@media (max-width: 1530px) {
  .btn-action.ui-widget,
  .ui-treetable .btn-action.ui-widget{
    padding: 3px 14px !important;
  }
  .ui-treetable{

    td:first-child{
      width: 60% !important;
    }
    td:nth-child(2){
      width: 40% !important;
    }
  }

}
@media (max-width: 1370px) {
  .btn-action.ui-widget,
  .ui-treetable .btn-action.ui-widget{
    margin-right: 12px !important;
    &.btn-delete{
      margin-right: 0 !important;
    }

  }
  .user-profile .btn-edit{
    margin-right: 0 !important;
  }
}


@media (max-width: 1175px) {
  .home-page .ui-card{
    padding: 130px 60px;
  }
}
@media (max-width: 1100px) {
  .btn-action.ui-widget,
  .ui-treetable .btn-action.ui-widget{
    padding: 3px 12px !important;
    margin-right: 4px !important;
  }
  .user-profile .btn-edit{
    margin-right: 0 !important;
  }
}
@media (max-width: 768px) {
  .layout-main {
    margin-left: 0;
  }
  .page-content{
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  .login-page{
    width: 90% !important;
  }
  .navbar-logo{
    width: 64px;
    overflow: hidden;
    span{
      display: none;
    }
  }
  .navbar-nav{
    width: auto;
    .menuitem-text{
      display: none;
    }
  }
}
