$red-color: #e42c26;
$green-color: #92b84e;
$blue-color: #4eb4b8;
$dark-blue: #405a6f;
$opacity-red: rgba(227, 46, 38, 0.12);
$error-red: #e32e26;
$grey-color: #7c868e;
$font-color: #1c2b36;
$border-color: #cdd2d9;
$main-background: #e8e9eb;
$sidebar-background: #243542;
$dark-background: #131e26;
$sidebar-width: 278px;
$header-height: 68px;

